@page "/BooketVagter"
@using Milijøfestival.Shared;
@inject HttpClient Http

<h3>Booket Vagter</h3>
<p>Velkommen</p>

<body>
    @foreach (var booking in bookingdata)
    {
        <li>
            <p>Hej @frivillig.navn</p>
            <p>Du har på tlf: @booking.Telefon_nr booket shelter @booking.Shelter_navn</p>
            <p>Fra: @booking.Start_Dato Til: @booking.Slut_Dato</p>
            <p>Hav en god tur!</p>

        </li>
    }
</body>
@code {
    private Booking[] bookingdata = Array.Empty<Booking>();

    protected override async Task OnInitializedAsync()
    {
        bookingdata = await Http.GetFromJsonAsync<Booking[]>("BookingData");

    }
}