@using Milijøfestival.Shared
@inject HttpClient Http
@page "/Frivilligoversigt"
<h3>Frivilligoversigt</h3>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Navn</th>
            <th scope="col">TelefonNr</th>
            <th scope="col">Email</th>
            <th scope="col">Fødselsdato</th>
            <th scope="col">RolleNavn</th>
            <th scope="col">Kompetence</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var fo in tagetfrivillige)
        {
            <tr>
                <th>@fo.Navn</th>
                <th>@fo.TelefonNr</th>
                <th>@fo.Email</th>
                <th>@fo.Fødselsdato</th>
                <th>@fo.RolleNavn</th>
                <th>@fo.Kompetence</th>

            </tr>
        }
    </tbody>
</table>




@code {
    List<FrivilligOversigtView> tagetfrivillige = new List<FrivilligOversigtView>();

    protected override async Task OnInitializedAsync()
    {
        tagetfrivillige = await Http.GetFromJsonAsync<List<FrivilligOversigtView>>("HentFrivillige");
    }
}