@using Milijøfestival.Shared
@page "/g"
@inject HttpClient Http


<h3>Opret Vagt</h3>
   
   <th>Indtast nødvendig info:</th>
<div class=" row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="StartTid"> Start tidspunkt</label>
            <input type="datetime" @bind="@nyvagt.StartTid" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="SlutTid"> Slut tidspunkt</label>
            <input type="datetime" @bind="@nyvagt.SlutTid" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="Sted">Hvilken afdeling</label>
            <input type="string" @bind="@nyvagt.Afdeling" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="Sted">Hvor er vagten</label>
            <input type="string" @bind="@nyvagt.Sted" />
        </div>
    </div>


    <div class="col-md-6">
        <div class="form-group">
            <label for="OpgId">Opgave id</label>
            <input type="int" @bind="@nyvagt.OpgId" />
        </div>
    </div>
     <td><button class="btn btn-primary"@onclick="()=>save(nyvagt.StartTid, nyvagt.SlutTid, nyvagt.Afdeling, nyvagt.Sted, nyvagt.OpgId)">Opret vagt</button></td>
</div> 




@code {
    Vagt nyvagt = new Vagt();

    private async Task save(DateTime starttid, DateTime sluttid, string afdeling, string sted, int opgid)
    {
        nyvagt.StartTid = starttid;
        nyvagt.SlutTid = sluttid;
        nyvagt.Afdeling = afdeling;
        nyvagt.Sted = sted;
        nyvagt.OpgId = opgid;

        var response = await Http.PutAsJsonAsync<Vagt>("Vagt", nyvagt);
    }
}
