@using Milijøfestival.Shared
@page "/Opretbruger"
@inject HttpClient Http


<h3>Opret Bruger</h3>

<th>Indtast nødvendig info:</th>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Navn" class="control-label">Fulde navn</label>
                <input for="Navn" class="form-control" @bind="@nybruger.Navn" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="TelefonNr" class="control-label">Telefon nummer</label>
                <input for="TelefonNr" class="form-control" @bind="@nybruger.TelefonNr" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="Email" class="control-label">Email</label>
                <input for="Email" class="form-control" @bind="@nybruger.Email" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="Fødselsdato" class="control-label">Fødselsdato</label>
                <input type="date" for="Fødselsdato" class="form-control" @bind="@nybruger.Fødselsdato" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="RolleId" class="control-label">Rolle</label>
                <select name="Rolle" @bind="@nybruger.RolleId">
                    <option value="1">Frivillig</option>
                    <option value="2">Koordinator</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <button class="btn btn-primary" @onclick="()=>save(nybruger.Navn, nybruger.TelefonNr, nybruger.Email, nybruger.Fødselsdato, nybruger.RolleId)">Opret bruger</button>
            </div>
        </div>
    </div>
</form>




@code {
    // Ny objekt af typen bruger
    Bruger nybruger = new Bruger();

    private async Task save(string navn, string telefonnr, string email, DateTime fødselsdato, int rolleid)
    {
        nybruger.Navn = navn;
        nybruger.TelefonNr = telefonnr;
        nybruger.Email = email;
        nybruger.Fødselsdato = fødselsdato;
        nybruger.RolleId = rolleid;
        

        var response = await Http.PutAsJsonAsync<Bruger>("Bruger", nybruger);

    }

}