@using Milijøfestival.Shared
@page "/Opretbruger"
@inject HttpClient Http


<h3>Opret Bruger</h3>

<th>Indtast nødvendig info:</th>
<table class="table">
    <tr>

        <div class=" row">
        <td>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Navn" class="control-label">Fulde navn</label>
                    <input for="Navn" class="form-control" @bind="@nybruger.Navn" />
                </div>
            </div>
        </td>
        <td>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="TelefonNr">Telefon nummer</label>
                    <input type="int" @bind="@nybruger.TelefonNr" />
                </div>
            </div>
        </td>
        <td>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" @bind="@nybruger.Email" />
                </div>
            </div>
        </td>
        <td>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Fødselsdato">Fødselsdato</label>
                    <input type="datetime" @bind="@nybruger.Fødselsdato" />
                </div>
            </div>
        </td>
        <td>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="RolleId">Rolle (1 = Frivillig, 2 = Koordinator)</label>
                    <input type="number" @bind="@nybruger.RolleId" />
                </div>
            </div>
        </td>

        <td><button class="btn btn-primary" @onclick="()=>save(nybruger.Navn, nybruger.TelefonNr, nybruger.Email, nybruger.Fødselsdato, nybruger.RolleId)">Opret bruger</button></td>
        </div>
    </tr>
</table>




@code {
    Bruger nybruger = new Bruger();

    private async Task save(string navn, char telefonnr, string email, DateTime fødselsdato, int rolleid)
    {
        nybruger.Navn = navn;
        nybruger.TelefonNr = telefonnr;
        nybruger.Email = email;
        nybruger.Fødselsdato = fødselsdato;
        nybruger.RolleId = rolleid;

        var response = await Http.PutAsJsonAsync<Bruger>("Bruger", nybruger);
    }
}